<footer id="footer">
  <div class="footer-left">
    Based on <a href="https://github.com/mguellsegarra/cactus-marc">Cactus Marc</a> theme for <a href="http://www.hexo.io">hexo.io</a>.
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= i %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
